<div class="container mt-5">
  {{!-- Dropdown 下拉式選單 --}}
  <div class="row d-flex justify-content-center">
    <div class="col-5 mt-3">
      <form action="/category" method="POST">
        <select class="form-select" name="category" id="category" onchange="this.form.submit()">
          <option disabled selected>類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
  </div>

  {{!-- Total amount --}}
  <div class="row text-center mt-5 mb-5">
    <div class="col-md-6 m-auto">
      <p class="fs-5 p-2 m-0 text-secondary">總金額：
        <strong class="fs-1 text-danger">{{ totalAmount }} </strong>
      </p>
    </div>
  </div>

  {{!-- Record 資料 --}}
  <div class="row mt-3 mb-3">
    <div class="col text-start">
      <ul class="list-group list-group-flush">
        {{#each recordData}}
        <li
          class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center justify-content-around">

          {{!-- Icon --}}
          <div class="record_icon">
            <i class="category_icon {{this.categoryId.icon}}"></i>
          </div>

          {{!-- Name & amount per item --}}
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ this.name }}</h5>
            <h5 class="mb-1">{{ this.amount }}元</h5>
            <small></small>
          </div>

          {{!-- Amount per item --}}
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ this.date }}</p>

            {{!-- Edit button --}}
            <a href="./records/{{ this._id }}/edit"><button class="btn btn-outline-dark">修改</button></a>

            {{!-- Delete button --}}
            <form action="./records/{{ this._id }}/delete" method="POST"><button class="btn btn-outline-danger"
                type="submit">刪除</button></form>
          </div>

        </li>
        {{/each}}
      </ul>
    </div>
  </div>


  {{!-- 新增按鈕 --}}
  <div class="text-center">
    <a href="./records/new"><button class="btn btn-warning ">新增支出</button></a>
  </div>


</div>