<div class="container mt-5">

  {{!-- Dropdown 下拉式選單 --}}
  <div class="row d-flex justify-content-center">
    <div class="col-5 mt-3">
      <form action="/category" method="POST">
        <select class="form-select" name="category" id="category" onchange="this.form.submit()">
          <option disabled selected>類別</option>
          <option value="1">家居物業</option>
          <option value="2">交通出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
  </div>


  <div class="row text-center mt-3 mb-3">
    {{!-- Total amount --}}
    <div class="col-md-6 m-auto">
      <p>總金額：
        <strong class="fs-1 text-danger">{{ totalAmount }} </strong>
      </p>
    </div>

    {{!-- Record 資料 --}}
    <div class="row mt-3 mb-3">
      <div class="col-lg-8 m-auto bg-light bg-opacity-75 rounded">
        <div class="mb-2 rounded border">
          <ul class="list-group list-group-flush">
            {{#each recordData}}
            <li
              class="list-group-item list-group-item-action list-group-item-light d-flex align-items-center justify-content-between">

              {{!-- Icon --}}
              {{!-- categoryIcon 為自定義 handlebars helper --}}
              <div>
                <i class="category_icon fa-solid {{ categoryIcon this.categoryId }} f5-5"></i>
              </div>

              {{!-- Name & Date --}}
              <div class="w-25 d-flex flex-column text-start">
                <h4>{{ this.name }}</h4>
                <span>
                  {{!-- dateFormat 為自定義 handlebars helper --}}
                  <small class="date text-muted">{{ dateFormat this.date }}</small>
                </span>
              </div>

              {{!-- Amount per record --}}
              <p class="fs-4 text-end">{{ this.amount }}元</p>
              {{!-- Edit button --}}
              <a href="./records/{{ this._id }}/edit"><button class="btn btn-outline-dark">修改</button></a>

              {{!-- Delete button --}}
              <form action="./records/{{ this._id }}/delete" method="POST"><button class="btn btn-outline-danger"
                  type="submit">刪除</button></form>

            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>


    {{!-- 新增按鈕 --}}
    <div class="col-12 mt-3 text-center">
      <a href="./records/new"><button class="btn btn-warning ">新增支出</button></a>
    </div>

  </div>

</div>